.farm-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .registeer-form {
    background:  #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    font-family: Arial, sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .label {
    display: block; /* Робить лейбл блоковим, щоб він був над полем */
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .input {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Важливо! */
    transition: border-color 0.3s;
  }
  
  /* Ефект при кліку в поле */
  .input:focus {
    border-color: #007BFF;
    outline: none; /* Прибираємо стандартну синю рамку браузера */
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
  }
  
  .btn-submit {
    width: 100px;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-submit:hover {
    background-Color: #0056b3;
  }